[2021-04-07 19:21] subhendukundu opened #1 "Examples showing how to use auth modules for social logins"
I think it would be beneficial if we add different examples for all the possible logins. Clear and easy to understand.

[2021-04-07 19:54] shyndman commented on #1
There is [an example here](https://github.com/nhost/nhost-dart/blob/main/packages/nhost_flutter_auth/example/lib/oauth_providers_example.dart) for logging in via GitHub. The other providers should be similar.

Does that help?

[2021-04-08 05:54] subhendukundu commented on #1
It does definitely help. But I think it's just easier for developers, easy with sample code. Sometimes they can just stuck with small things. Plus I think we should just focus on "making product as easy as possible". So they can just focus on product. We can take care of the rest. Just a thought, you don't have to take this too seriously. 🙂

[2021-04-08 06:20] shyndman commented on #1
No, it's a great suggestion, and I agree the process should be easier.

One of the tricky parts about the social logins is that you need to tweak the configuration for the native app, so it's not quite as copy-pasteable as other examples, even when all the Dart code is right in front of you. And then there's also the backend config, and having to set that up properly.

Maybe the ideal would be to

[2021-04-09 18:03] MaxSchilling opened #2 "E-Mail Verification status as Authentication status"
It would be a great help to be able to make use of the e-mail verification status in the auth part as authentication status, or a bool attached to the current user would be a great help for the overall auth process.
Right now it seems there is only a way to read the ApiException message? Adding different status codes than 400 would help as well here in general.
Many thanks!

[2021-04-11 06:28] subhendukundu commented on #1
So We can keep 2 packages. One is the core. Few devs might not want to add these but we will still add these dependencies, which is not good I think.
The other package/packages, which will have all the native, and devs just plug it in and use it. Might be okay adding easy config in native if really needed to.

@elitan and I keen to make developer experiences as easy we can. Just like no-code but l

[2021-04-13 08:36] shyndman commented on #1
Makes sense. I think we can get something like that going.

[2021-04-13 08:41] shyndman commented on #2
I think this issue may also be useful to post on https://github.com/nhost/hasura-backend-plus/ (if we're talking about response codes), which is where all the backend logic lives.

Would you mind expanding a little bit...what would the `bool` indicate? I _believe_ the `nhost.auth.currentUser` should be `null` if you aren't authenticated (and if that isn't the case, let us know)

What kind of infor

[2021-04-13 08:42] shyndman commented on #1
Sorry, to be clear, that seems like a good goal, and is certainly possible. Whether to pursue is not my call.

[2021-04-13 14:06] MaxSchilling commented on #2
What I would like to have is actually
nhostClient.auth.currentUser == null --> No logged in user (check)
nhostClient.auth.currentUser != null --> User exists (available as well)
nhostClient.auth.currentUser.emailVerified --> true / false - Have this as a property for example to check if the email is already verified, to redirect to a "resend verification mail screen" or something and not let the u

[2021-04-13 14:07] MaxSchilling commented on #2
Currently I only get this information from the message of the ApiException.
And as that is just a string and may even change, that's pretty risky to implement a process like the email verification on.

[2021-04-20 14:52] raphaelbarbosaqwerty opened #3 "Broken links in all README.md"
Some links are broken in the documentation

[2021-04-25 07:12] adithyaakrishna commented on #3
@raphaelbarbosaqwerty Could you tell me which repo has this?😶
Would love to work on it

[2021-04-25 17:39] raphaelbarbosaqwerty commented on #3
@adithyaakrishna I made a PR but it didn't pass (strange). I'm closing my PR another guy did the same changes and has passed. my [PR](https://github.com/nhost/nhost-dart/pull/4) the another [PR](https://github.com/nhost/nhost-dart/pull/5)

[2021-04-30 22:23] raphaelbarbosaqwerty commented on #3
Issue closed in PR [#4](https://github.com/nhost/nhost-dart/pull/4)

[2021-04-30 22:23] #3 closed

[2021-05-03 12:38] MaxSchilling opened #6 "I/flutter (15918): Exception: type 'Null' is not a subtype of type 'String' in type cast"
Registration without auto-activation of new users results in the error.

auth.dart from the package, code doesn't reach line 203 in the auth.dart, which should hopefully handle it right, but the rethrow above blocks that.

[2021-05-09 21:33] seyaobey-dev opened #8 "loggin user with auth.login just hangs for ever"
So I have setup authentication with `nhost-dart` following the guideline from this repository:
[code]
Now in my `login.screen`, I call `await auth.login(email: __email, password: __password);`
This call just takes for ever (2 to 3 minutes) and then crashes the following exception:

![image](https://user-images.githubusercontent.com/83374925/117588102-a2e6bd80-b121-11eb-84ac-25572b000420.png)

This

[2021-05-10 03:48] #8 closed

[2021-05-11 19:54] shyndman commented on #6
Hey @MaxSchilling,

Thanks! I'm taking a look at getting this merged now.

[2021-05-11 20:35] shyndman commented on #6
Merged.

[2021-05-11 20:35] #6 closed

[2021-05-12 10:02] escamoteur commented on #2
@shyndman That was my question because its not part of the normal Hasura package for my understanding

[2021-05-12 12:07] shyndman commented on #2
So did that answer your question? Email verification is not a part of Hasura.

[2021-05-12 12:17] elitan commented on #2
Everything related to Auth is in [Hasura Backend Plus](https://github.com/nhost/hasura-backend-plus).

You can't log in from any client (ex Flutter) if the user is not active.

You can see if a user is active by checking the `active` column in the `auth.accounts` table. Every user has a 1-to-1 relation with a row in the `auth.accounts` table.

@MaxSchilling If I understand your use case correctly

[2021-05-12 12:20] elitan commented on #8
@seyaobey-dev What was the fix for this issue? Might be useful for the next person having the same problem and finds this issue.

[2021-05-12 22:31] MaxSchilling commented on #2
Thanks for the reply!
You are perfectly right, we are able to catch the message and I now understood that I can do requests on the users table without activated users, thats fine.
I was just afraid that the error message may change easier/faster then a dedicated statuscode or something, somthat we won't risk the chance of catching non existing messages in the future. But a query offers that — got

[2021-05-13 16:10] shyndman opened #9 "Subscriptions are failing to update"
This was originally reported by @escamoteur via Discord.

After running the software, leaving it for a bit and coming back, subscriptions were no longer updating.

This has been reported as happening on Windows, and macOS.

[2021-05-13 21:11] shyndman commented on #9
I have been unable to reproduce on macOS, using the same app that Thomas is working on. I'm getting my Windows machine setup to see if I can repro there.

[2021-05-13 22:01] seyaobey-dev commented on #9
I'm having the same problem; I'm on macos. Subscriptions updates are not consistent. They ran a couple of time and then just stopped updating. Sometimes they update after much time (3 to 5 min after the mutation has been executed). Here is my code:
[code]

[2021-05-14 02:27] shyndman commented on #9
Thanks @seyaobey-dev.

Is the mutation also taking place via the same app? I'd like to build something as close as I can to attempt a repro.

[2021-05-14 17:04] shyndman commented on #9
I found the bug. I'm working out a fix now.

[2021-05-14 19:26] shyndman commented on #9
I reported my findings to `graphql`, but I'm preparing an interim fix. I'll be pushing it soon.

[2021-05-15 04:18] subhendukundu commented on #1
Well I had been playing around with nhost-dart for a while now. Few observations.

1. Using app_links for the login, very smart move but I haven't able to make it work with.
2. Docs we need to work on.

So this is what I did.

1. I have used `flutter_web_auth`.
Setting the callback urls to `'io.higgle.dakuapp://login-callback`
[code]
And this works. But what about the web support? https://daku.app

[2021-05-17 13:25] shyndman commented on #9
I published a number of pre-release versions that should fix the issue. I'll be promoting them to a stable version soon.

[code]

[2021-05-17 14:20] shyndman commented on #9
Still not quite there, but I'm focused on it.

[2021-05-17 16:23] shyndman commented on #9
Yes, OK, so the prereleases I mentioned earlier do not work. I misunderstood what my test harness was reporting.

But I have found the issue (I'm not disconnecting the socket properly), and I'll have something up by EOD. Thanks for your patience.

[2021-05-18 07:40] shyndman commented on #9
Hey folks,

I've pushed a new set of pre-release versions that are creeping towards stability. While I still anticipate issues after some of the problems I've observed in the link libraries, I have an _early_ _early_ report from @MaxSchilling suggesting that he is no longer encountering issues with subscriptions, after multiple token refreshes.

I also sent a PR over to the `graphql` repo to inclu

[2021-05-19 05:18] shyndman commented on #9
OK, @escamoteur's issues were unrelated, and https://github.com/gql-dart/gql/issues/227, while problematic, isn't blocking, so we are now published as stable.

[code]

Please post back to this bug if there are any problems.

[2021-05-19 05:19] #9 closed

[2021-05-19 05:24] shyndman opened #12 "Add Ferry support"
Some users have expressed interest in [Ferry](https://pub.dev/packages/ferry) support, which is a GraphQL client, built on top of the same gql_exec/gql_link framework that `graphql` uses.

[2021-05-19 08:17] shyndman opened #14 "Add GitHub action on a cron that checks for outdated (or conflicting?) packages and notifies via issues"
It will be impossible to stay on top of updates otherwise.

If a newly published version of a dep matches the existing version spec, no need to notify. Only when a package moves to a new "breaking" version do we care to know.

[2021-05-19 10:19] seyaobey-dev commented on #8
@elitan Before `nhost.io` I was using the normal `flutter_graphql` library, connnected to my custom `nest.js` server. I suspect there was conflict somewhere in my code between the 2 settings, so probably not an issue with `nhost.io`.
I wanted to delete this issue but there is only the `close` option.

[2021-05-20 15:35] escamoteur opened #15 "Latest version does no longer work on Flutter Web"
Hi,

I got surprised this afternoon after a new deploy of the donation tracker suddenly no data at all got displayed. It works on Windows but not on web.

[2021-05-20 15:45] shyndman commented on #15
Hi @escamoteur,

Do you have any more details? What does work mean?

[2021-05-20 15:48] escamoteur commented on #15
it just doesn't return any data on the subscriptions. Not Error messages.

[2021-05-20 15:49] escamoteur commented on #15
if you push the current state of the donation tracker you can see yourself I haven't yet pushed the version with the earlier versions again

[2021-05-20 15:50] escamoteur commented on #15
Oh and the latest version still looses the subscription after a time

[2021-05-20 16:13] shyndman commented on #15
OK, thanks. I'll take a look.

[2021-05-20 19:42] #15 closed

[2021-05-20 19:52] shyndman commented on #15
Published two new package versions that solve the web issue. #16 provides more details about the issue.

[code]

[2021-05-20 19:54] shyndman commented on #15
Taking a look at donation tracker subscription issues now, which are presumably unrelated.

[2021-05-25 13:20] MaxSchilling opened #17 "Return upload progress for fileupload"
It would be great to have a callback to retrieve the upload progress of a file, to show it back to users. Firebase offered a subscription method to the upload progress, which was very helpful and user friendly.

Thanks!

[2021-05-25 18:43] shyndman commented on #17
This would definitely be a useful feature. We made the decision to use the `http` library for two reasons:

1. It's the same library used by `graphql`, meaning smaller binaries
2. It has first-class support for multipart HTTP requests, unlike the library in `dart:io`

Oddly, the library does not support progress (https://github.com/dart-lang/http/issues/465).

That said, I'm sure this is possible

[2021-05-25 21:07] shyndman commented on #17
OK, I've looked into how this is implemented elsewhere, and replicating their approach is definitely possible.

But it's unclear to me whether the approach I'm seeing in other libraries is right exactly, as they appear to be measuring the progress of data being written to the socket's buffer, and not the network.

But I think I see the piece they're missing. Definitely needs a bit of experimentati

[2021-05-25 21:21] shyndman commented on #17
@MaxSchilling, out of interest, can you provide me a rough estimate of the size of file your customers would be uploading?

[2021-05-25 22:05] MaxSchilling commented on #17
We are uploading medium compressed videos, so roughly 3-10MB, maybe up to 20/50? But not more I think

[2021-05-25 22:06] MaxSchilling commented on #17
Thanks for the research and the support! Not super urgent, but I think a nice convenient feature any way

[2021-06-03 20:14] shyndman opened #18 "CI is failing"
It appears that an upgrade of pana (a transient dep) from 0.17.0 to 0.17.1 has created problems. Investigating.

[2021-06-06 19:49] #18 closed

[2021-06-07 00:06] shyndman opened #21 "GQL subscription is using stale JWT after device idle (iOS)"
@MaxSchilling has reported that his graphql client is making a request using a stale JWT after the Android device has been off for some amount of time.

After some research, I suspect that Android Doze suspending timers and network connections. When the app resumes, the websocket notices and begins reconnecting with the old JWT, which happens concurrently with the JWT refresh.

I'm confirming now.

[2021-06-07 05:05] elitan commented on #21
We had a similar issue with the nhost-js-sdk.

This was our solution there:

https://github.com/nhost/nhost-js-sdk/blob/master/src/Auth.ts#L639-L650

[2021-06-07 06:41] shyndman commented on #21
Yes! I saw that while porting, and do have questions about this (since people are now building for Flutter Web.)

But in this case, it's not exactly the same issue.

What I'm seeing is Android suspending all network activity while "dozing" (a state that is entered after a few minutes of the screen being off). In this state, application code continues to run, which includes timer callbacks (possibl

[2021-06-07 08:01] shyndman opened #23 "Migrate from debugPrint to using logging package"
I'm finding that adding and removing state logging while debugging is resulting in repeated work, so I'd like to introduce detailed trace/info/error logs, that can be turned off or on easily (off by default).

[`logging`](https://pub.dev/packages/logging) appears to be a solid logging framework to attach to. It's simple, doesn't change often, and is already used by plenty of packages.

[2021-06-07 21:15] MaxSchilling commented on #21
It actually also occured on iOS

[2021-06-07 21:42] shyndman commented on #21
Ah, well I believe it's even simpler in that case.

iOS standby mode is a lot like Doze from what I've read, but is even stricter. I should be able to repro the issues I've seen there with the same testbed.

Thank you for letting me know.

[2021-06-10 15:45] elitan commented on #2
Nice! Resend verification is coming in the coming releases of auth.

https://github.com/nhost/hasura-backend-plus/pull/524

[2021-06-10 15:45] #2 closed

[2021-06-10 18:50] shyndman opened #24 "Subscription GQL failures are not propagated to the client"
This is a tracking bug for https://github.com/gql-dart/gql/issues/237

[2021-06-11 06:05] #23 closed

[2021-06-16 08:56] escamoteur opened #28 "Exception in subscribtion"
After it seems that we have fixed with all subscription errors, yesterday the update of our Donation tracker stopped with this debug output:

[code]

[2021-06-16 13:22] shyndman commented on #28
I suspect this is because of the pinned alpha gql version we have in donation_tracker's pubspec.

Everything's in stable now. I'll send a pull.

[2021-06-16 13:26] shyndman commented on #28
Yup, looks like that's all it was. I sent a PR.

[2021-06-16 13:27] #28 closed

[2021-06-16 23:51] shyndman opened #30 "Add basic tests ensuring that examples continue to function"
A user recently reported that the todo example wasn't working, and it would be good to ensure that it doesn't happen again

[2021-06-16 23:52] shyndman opened #31 "Add test to ensure the NhostAuthProvider rebuilds on the transition from loading to loggedIn or loggedOut"
This is new functionality, and it is not currently tested

[2021-08-09 01:59] pjindal91 opened #32 "Local stored refresh token not cleared when refresh token has expired"
https://github.com/nhost/nhost-dart/blob/ceb899f8a6f6907b845fe991a08c61e8ab78e672/packages/nhost_sdk/lib/src/auth.dart#L653

In the case of when refresh token is expired and user is unable to auto login, the code tries to log the user out, however in the above line checks if the user is loggedIn or not. When the auto login in happening the state is not yet loggedId, it is inProgress and due to tha

[2021-08-09 02:03] pjindal91 commented on #32
Another point to note is that this error/exception is not propagated to the client. So the client has no way of knowing something like this has happened under the hood and can take any action

[2021-08-19 08:03] krbera opened #33 "Flutter release apk issue"
Hi,
I am facing an issue in Nhost flutter application, whenever I am using debug mode apk that time login working properly but in release, app login is not working so can anyone help me?

[2021-08-22 23:10] yevyevyev opened #34 "Apple login support?"
Hi. I really love your platform, few points here:

1. On iOS if you include any oauth in your app, it must support apple auth otherwise the app will be rejected.
2. What is the advantage of using webview url redirect over fetching the oauth access token natively like this? https://pub.dev/packages/google_sign_in Can this be supported in nhost sdk?
3. Suggestion - I think there is a win in copying

[2021-08-23 21:04] shyndman commented on #33
Hi @krbera,

I can help. Can you provide me with as much detail as you can? Anything that might help.

[2021-08-23 21:05] shyndman commented on #32
Thanks for the report @pjindal91, and sorry for the wait.

I'll be looking at this shortly.

[2021-08-23 21:06] pjindal91 commented on #32
No problem at all @shyndman. I actually made the fix locally but that logic didn't have any unit tests so I wasn't comfortable pushing it since couldn't tell if it would break some assumptions.

[2021-08-23 21:30] shyndman commented on #32
It appears that you are quite correct. This is a bug. Thank you. :)

The mechanism that this library uses to notify changes to authentication state is via callbacks (`Auth.addAuthStateChangedCallback`). Would that suffice, or is there some reason you would need to know that a refresh token had expired?

[2021-08-23 21:48] pjindal91 commented on #32
Yeah notification via callback is fine. Right now major problem is this https://github.com/nhost/nhost-dart/blob/ceb899f8a6f6907b845fe991a08c61e8ab78e672/packages/nhost_sdk/lib/src/auth.dart#L658, since the refresh token is not cleared, user can never log in again since the state would always be inProgress. So i think most important thing is to clear the session + token + logout user.

[2021-08-23 21:51] pjindal91 commented on #32
Comment about error propagation is so that things like these can be somehow handled by the client. Right now since the exception is swallowed by the library the client doesn't get to know that something wrong has happened. For example if in this case, refresh token expiry error was somehow propagated then the client could have manually cleared the token from the storage/log user out. Since that do

[2021-08-23 22:12] shyndman commented on #34
Hi @tapkain,

Thank you!

Ah, interesting. I didn't know that.

For documentation's sake, this is the relevant section in the App Store Review Guidelines:

https://developer.apple.com/app-store/review/guidelines/#sign-in-with-apple

This library was designed to mirror https://github.com/nhost/nhost-js-sdk, and makes use of same backend APIs. Easier to get something off the ground that way.

That s

[2021-08-24 00:02] shyndman commented on #32
Yup, got it.

I see what you're saying about the exception, but technically, this isn't an exceptional case for the library (unless, you know...there's a bug in it). It'd feel weird to be throwing exceptions during expected use cases just so people can work around bugs.

Better to just fix it (and again, sorry about the reply time)

[2021-08-24 00:27] pjindal91 commented on #32
Yeah in this case i agree, however i still feel slightly awkward knowing that there could be an underlying issue which i wouldn't be informed about and can take action. One simple example i can think of is that somehow the server is down/ or internet connection is lost while logging in and in this case, the library would silently fail

https://github.com/nhost/nhost-dart/blob/ceb899f8a6f6907b845fe

[2021-08-24 12:08] tapkain commented on #34
```Is there anything in particular you find that Nhost is missing, or is it purely a portability concern?```
It is purely a portability concern, I personally don't mind about current design

[2021-08-24 18:25] shyndman commented on #32
You've convinced me. This is a design flaw. Going over the code, seeing that `// Silent failure` comment cinches it.

And thinking out loud, calling out to an async method in the `Auth` constructor is a mistake because it detaches from the context of the caller's stack. Still, there are options, but I need to think about it.

Let me first deal with the simpler issue of auth state and the clearing

[2021-08-24 22:51] pjindal91 commented on #32
Yeah i think it might be worth opening a separate issue for error management since thats not technically a bug and might even require breaking changes.  We can focus on the immediate bug for this issue

[2021-08-29 14:39] PRAJINPRAKASH commented on #34
Its requirement for all app with social logins. https://developer.apple.com/app-store/review/guidelines/#sign-in-with-apple

[2021-09-10 05:08] jtkeyva opened #36 "example links broken"
fyi links to examples are broken:
https://pub.dev/packages/nhost_sdk/example

[2021-09-12 07:09] jtkeyva opened #37 "Will this nhost SDK work seamlessly with Hasura Backend Plus?"
Is this for both nhost and hasura backend plus?
I'm unable to get the storage_example to work with hasura backend plus and I don't see any docs or explanation of how things work.  any help appreciate

[2021-09-19 08:18] MaxSchilling commented on #32
Hey there, any ETA on releasing the updated version of the SDK including the fix? Planning a next release currently and would be nice to know if it's worth waiting. Many thanks!

[2021-09-22 00:13] pjindal91 commented on #32
I believe @shyndman has published a new package version with the fix.

[2021-09-22 00:13] #32 closed

[2021-09-22 07:59] MaxSchilling commented on #32
Was the fix in there @pjindal91 ? I just saw dependency updates in the changelogs. Happy to be proved wrong:)

[2021-09-22 22:30] pjindal91 commented on #32
@MaxSchilling yeah in 2.0.1. It was after my pr was merged, so it should have that. Try updating your packages and you should get it

[2021-10-05 19:01] shyndman commented on #36
Thank you. I'll get that fixed up.

[2021-10-05 19:02] shyndman commented on #37
Closed to quickly.

Would you mind describing the problems you're seeing?

[2021-10-05 21:00] #36 closed

[2021-10-05 21:02] shyndman commented on #36
Sorry for the noise. Didn't know it would do this on each push. Hope you weren't getting emails. 😟

[2021-10-05 21:02] shyndman commented on #33
Closing for lack of response.

Feel free to comment and I'll open it back up.

[2021-10-05 21:02] #33 closed

[2021-10-06 03:51] shyndman commented on #32
Hey @MaxSchilling, just a small clarification here.

We use [melos](https://github.com/invertase/melos/) for changelog generation.

When the `nhost_sdk` package changes, [its changelog](https://github.com/nhost/nhost-dart/blob/main/packages/nhost_sdk/CHANGELOG.md) will include specifics based on git commit subject lines, while all of the dependent packages will get that "Update a dependency..." en

[2021-12-14 07:43] chonghorizons commented on #30
I can report that the todos doesn't work. I was looking for a way to see if the graphql/Hasura connection was established, but the `NhostClient(baseUrl: nhostApiUrl)` object doesn't have a checkStatus method that I could figure out.

I get this:

![image](https://user-images.githubusercontent.com/36284839/145954189-3582d17a-17f2-452c-8438-38a121cec772.png)

when running packages/nhost_flutter_grap

[2022-01-14 16:51] erikmaddy opened #48 "404 Error when attempting to register a user with nhost_sdk."
I followed the [simple auth example](https://github.com/nhost/nhost-dart/blob/main/packages/nhost_sdk/example/lib/auth_example.dart) but when I actually run it and try to register a user, I get this error.

`ApiException(apiUrl=https://*uniqueID*.nhost.run/auth/register, statusCode=404, responseBody={path: $, error: resource does not exist, code: not-found})`

I am assuming it has something to do

[2022-01-14 21:38] MaxSchilling commented on #48
The dart sdk hasn‘t been updated to v2 yet - but I guess it shouldn‘t take too long any more?

[2022-01-14 22:50] shyndman commented on #48
Yes, that's correct.

I'm just waiting on a couple backend inconsistencies to be ironed out. I'll have the new version published soon.

[2022-01-14 22:53] erikmaddy commented on #48
Awesome! That seemed to the logical reason.
I appreciate both of you reaching out.

[2022-01-14 22:53] #48 closed

[2022-01-25 09:25] himeshp opened #49 "Native Auth Support"
Hi,
will it support native auth flow and not via web view for social login providers?

[2022-01-26 23:08] rdeterre commented on #48
Hi. I'm trying to make a new application with a Flutter client, but I can't find where I can select v1 or v2. Is this a setting somewhere on the console?

[2022-01-27 01:40] #37 closed

[2022-01-27 01:44] shyndman opened #51 "Add support for Nhost v2"
Beta is out the door. Work remaining:

* [ ] Evaluate the need for _loading in AuthService
* [x] Add missing sign in methods
* [ ] Review backend endpoint by endpoint, ensuring we have support
  * [x] Resend e-mail verification process/e-mail

[2022-01-27 02:29] erikmaddy commented on #48
To my knowledge, v1 is being deprecated. You can't create a new v1 project anymore. app.nhost.io is strictly v2. In the v2 public beta announcement, it was mentioned that the flutter SDK will be getting an update very soon.

[v2 announcement blog post](https://www.nhost.io/blog/nhost-v2-the-beginning-of-something-big)

[2022-01-28 23:51] shyndman commented on #51
Not quite ready to close yet.

[2022-01-28 23:54] shyndman commented on #51
Just published #50 to `pub`. Here are the new versions:

[code]

This is still a work in progress, but I'm going to be knocking off what's missing over the coming days, and continue to cut beta releases as I do so.

[2022-01-28 23:55] shyndman commented on #48
I just published the first set of beta packages for working with Nhost v2. Still a work in progress, but it will tighten up over the coming days:

[code]

[2022-01-30 23:35] pjindal91 opened #55 "Support full set of HTTP verbs when calling serverless functions"
Based on the discussion [here](https://github.com/nhost/nhost-dart/pull/50#discussion_r795267235), it seems there might be a gap in functionality of the SDK or maybe support for GET/DELETE has been removed in new version of nhost. In case, it is supported, then would make sense to have support for GET/DELETE as well in addition to POST. It might even be a breaking change based on the design of the

[2022-01-30 23:46] shyndman commented on #55
I'm thinking that I'll default it to POST because many people won't care (they just want to call a function, doesn't matter how), and allow an override of the HTTP method for people who do.

That way we also get to stick to function terminology as well (ie `invoke`...although I might rename it `callFunction`)

[2022-01-30 23:51] pjindal91 commented on #55
I think that will do!

[2022-02-01 02:01] pjindal91 opened #56 "Error propagation during refresh instead of silent failure"
Hi, previously it was discussed [here](https://github.com/nhost/nhost-dart/issues/32#issuecomment-904226626) that there is a design flaw in the library where it doesn't propagate the errors back to the client when exception happens during refresh of token. I am wondering if migration to version 2 is a good opportunity to do that as it might be a breaking change depending on how the library is rede

[2022-02-01 08:17] shyndman commented on #56
Yeah, this is important.

It's a good suggestion, but it only handles the initial token refresh.

The first thing `Auth` does after the initial refresh is to set up a timer for the next one. That timer creates the same problem that the constructor does now — failure can't be signaled via exceptions, because we don't have the stack to do it.

So yeah...I _think_ that leaves us with state change han

[2022-02-01 09:20] #55 closed

[2022-02-01 09:23] shyndman commented on #55
Done, and a new set of beta packages have been published.

[2022-02-01 09:29] shyndman commented on #51
New set of packages out the door, including the changes in #57 and #58.

[code]

[2022-02-02 01:30] pjindal91 commented on #55
Thanks a lot @shyndman, looks great!

[2022-02-02 01:48] pjindal91 commented on #56
Yeah good point about the timer expiry. Keeping that in mind and i think error handler might be a good way to go and will help in this situation. However i think there might be some traps with it. For example a client initialize NhostClient and does some work and by the time they attach  error handler, exception has already happened and later when the add the error handler, its too late. Do you th

[2022-02-02 23:41] shyndman commented on #56
OK, I buy all of it. Let me get a strawman together.

[2022-02-03 08:57] shyndman commented on #17
This has been implemented for awhile.

[2022-02-03 08:57] #17 closed

[2022-02-07 02:16] #56 closed

[2022-02-07 03:32] shyndman commented on #56
Ok, I have a version of this out the door:

[code]

Let me know if it work for you.

[2022-02-08 09:36] damywise commented on #48
Will there be any breaking changes?

[2022-02-13 17:20] serge-deugoue commented on #51
has version 3 of nhost_sdk been released on pub.dev already?

[2022-02-15 14:47] MaxSchilling commented on #51
Hi @shyndman, Johan said that V2 will offer an endpoint to retrieve the e-mail verification process/e-mail, is that already covered within the new sdk as method? Thanks!

[2022-02-21 20:09] shyndman commented on #51
Hey @MaxSchilling,

It is not. Let me take a look at getting this in.

[2022-02-21 20:14] shyndman commented on #51
To be clear, you're looking to retrieve the text of the verification email?

[2022-02-21 20:21] shyndman commented on #51
If you're looking for the ticket used to verify the email address, it's stored in the `auth.users` table, and can be accessed via gql. Keep in mind that the permissions will have to be set up appropriately to modify view/modify the value.

[2022-02-21 20:26] MaxSchilling commented on #51
Hey Scott,
no actually a method to re-trigger the actual email-verification mail from the server, as the account activation ticket (that is created on registration) expires after 60 minutes.
As I understood Johan in V2 there is a way/endpoint to retrigger the token and trigger the activation mail for the user again. This wasn't possible in v1 and we lost quite some users through missing that funct

[2022-02-21 21:00] shyndman commented on #51
Got it.

@elitan, which endpoint is @MaxSchilling referring to?

[2022-02-22 06:13] elitan commented on #51
@shyndman This one: https://github.com/nhost/nhost/blob/main/packages/hasura-auth-js/src/hasura-auth-api.ts#L149

[2022-02-23 21:07] shyndman commented on #51
Thanks! Got that in.

I'm publishing a new set of packages now. Here are the versions:

[code]

[2022-03-11 05:21] shyndman commented on #51
Packages are now graduated to stable:

[code]

[2022-03-22 02:36] pjindal91 opened #62 "Wrong name for allowedRoles options"
https://github.com/nhost/nhost-dart/blob/eaa1c396de6c4a8fb4124229ebb2397fe45fb7d3/packages/nhost_sdk/lib/src/auth_client.dart#L207

According to the api [here](https://github.com/nhost/hasura-auth/blob/main/src/routes/signup/email-password.ts#L65), the name of the key is allowedRoles

[2022-03-31 11:19] samuelchanx opened #64 "Passwordless sign in with sms is not enabled"
How can I use passwordless sign in with SMS?

Currently it returns `404` not found, with message: `Passwordless sign in with sms is not enabled`

Version:
[code]

Also, isn't the method inside `auth_client.dart` supposed to return an `AuthResponse`? But it returns a `void` type for now
![image](https://user-images.githubusercontent.com/6096534/161043761-c41d52b3-5b4b-4081-b728-a2b778aecc7f.png)

[2022-04-22 19:40] oristian commented on #64
I'm attempting SMS otp login with my Twilio credentials -  is this feature working yet?

[2022-06-09 05:32] Achudh opened #65 "Api exception: invalid-refresh-token"
[code]

Facing this issue when the session is automatically refreshed. I have a function which checks auth state and refreshes the token in the background.

[code]

[2022-06-09 14:17] szilarddoro opened #67 "Deprecated function in `url_launcher`"
## Problem

`launch` has been deprecated in favour of `launchUrl` in [6.1.0](https://pub.dev/packages/url_launcher/changelog#610).

Because `flutter analyze` is very strict with info level messages this makes most of the actions fail when building the SDKs.

[2022-06-09 14:58] szilarddoro opened #68 "Latest version of `nock` is not compatible with Flutter v3.x"
Some of the tests are failing because the latest version of `nock` does not support the latest version of Flutter.

See issue here: https://github.com/cah4a/dart_nock/issues/15

[2022-06-11 06:28] Achudh opened #69 "Unable to add uploadedByUserId when uploading to nhost."
There are no args to include `userId` to be used in `uploadedByUserId`. There is no way to have userId when uploading in nhost reference and docs.

![Screenshot 2022-06-11 at 11 56 55 AM](https://user-images.githubusercontent.com/18098565/173176158-ba93fbba-a697-4fd7-98bc-a62da1c40f75.png)

[2022-06-12 19:21] elitan commented on #69
We'll depricate the `uploadedByUserId` column. See here: https://github.com/nhost/hasura-storage/issues/4

I recommend that you create a separate table where you save the file id and the user id to track who uploaded what.

[2022-06-12 19:21] #69 closed

[2022-06-22 03:25] samuelchanx opened #70 "Is anonymous sign-in supported?"
I have searched through the repository but couldn't find any methods related to anonymous sign in. Instead, the User from AuthResponse does return an isAnonymous property. Is it supported?

If it is not supported in the dart SDK, is there any workaround? E.g.  Is sign in with refresh token a similar implementation if I have some backene code to generate refresh token for the User?

Thank you very

[2022-07-11 02:06] ME-Andrew-Downing commented on #68
Any movement or update on this? as I've just updated to flutter v3 and am now experiencing these issues.

[2022-07-11 07:06] szilarddoro commented on #68
Hey @Kolhammer1! We don't have an update on this yet. We'll get back to you as soon as we have something.

[2022-07-11 08:09] szilarddoro commented on #70
Hey @samuelchanx! Anonymous sign in is not available on our console yet. Once it's there, you'll be able to activate it and call `<nhost-app-domain>/v1/signin/anonymous` endpoint to implement the functionality in your application.

This is definitely going to be supported via our Dart SDK in the future, but not initially.

[2022-07-20 06:37] rafoolin opened #71 "storage upload issue"
Hi, When I run [this example](https://github.com/nhost/nhost-dart/blob/main/packages/nhost_sdk/example/lib/image_storage_example.dart)(after applying necessary changes), and want to upload a local image to storage on NHost, it fails.

Package:
[code]

Flutter doctor:
[code]

Exception:
[code]

I checked, when I use the `email` and `password` to sign in, I receive a response with a session that all

[2022-08-04 02:33] marcusrohden opened #72 "upgrade nhost lints dependency"
Hi guys, could you please upgrade the lints dependency from nhost_sdk?
I'm trying to use the nhost_sdk ^3.0.2 and it's not compatible with the most recent versions of flutter_lints and lints.

[code]

thank you

[2022-08-09 13:08] MichalNemec commented on #72
ran into this issue on latest flutter too.
[code]

[2022-08-09 14:11] totzk9 commented on #72
Can you try if using `flutter pub upgrade` works?

[2022-08-09 14:13] MichalNemec commented on #72
[code]

[2022-08-09 17:58] szilarddoro commented on #72
`lints` was part of `dependencies` and not `dev_dependencies`, so this caused a friction between other 3rd party packages.

The [latest release](https://pub.dev/packages/nhost_sdk/changelog#303) should fix this problem. Let me know if it still persists, otherwise I'll close the issue.

[2022-08-09 19:50] MichalNemec commented on #72
fixed, thank you!

[2022-08-09 21:00] #72 closed

[2022-08-10 06:36] szilarddoro commented on #71
Hey @rafoolin! Did you successfully change the permissions of the `storage.files` table or encountered problems while doing so?

[Our documentation](https://github.com/nhost/nhost-dart/issues/71) describes all the necessary setup steps. We'll keep digging if the problem persists.

[2022-08-18 09:47] MichalNemec opened #74 "Custom metadata on signing up"
Hello,

Would it be possible to modify this query to accept anything to metadata?
https://github.com/nhost/nhost-dart/blob/main/packages/nhost_sdk/lib/src/auth_client.dart#L218

i.e. i have to store location, age, height, ...

[2022-08-18 10:04] MichalNemec opened #75 "Update to latest packages"
Hello, could these packages be updated in dependencies? graphql_flutter has 5.1.0 with bindings fix and cannot use it.
[code]

thanks

[2022-08-18 12:01] elitan commented on #75
Sure, maybe you could help us here and create a PR?

[2022-08-18 14:28] #62 closed

[2022-08-18 17:03] MichalNemec commented on #75
@elitan cant do it. I dont know how to test it locally, so i can push it afterwards. If i change dependencies, it still yells about old versions.

[2022-08-18 18:13] szilarddoro commented on #74
I'm closing this, because the [latest release](https://pub.dev/packages/nhost_flutter_auth) makes it possible to provide `metadata` to sign up.

[2022-08-18 18:13] #74 closed

[2022-08-23 21:18] MichalNemec opened #78 "NhostGraphQLProvider cache"
Hello,

Based on the graphql_flutter, there is setting for cache, is it handled automatically or the setting is just missing?
[code]

[2022-08-24 08:09] szilarddoro commented on #78
Hey @MichalNemec!

This is what's used internally by the `NhostGraphQLProvider`:
https://github.com/nhost/nhost-dart/blob/77cb2217705e738131aac484fb9f6e2dc1f5c9cf/packages/nhost_graphql_adapter/lib/src/create_client.dart#L54

It uses the default `GraphQLCache` with the [default `InMemoryStore`](https://pub.dev/packages/graphql_flutter#usage) which doesn't persist anything to the disk. We are not e

[2022-08-24 22:06] MichalNemec commented on #78
You are golden, thank you very much, ill wait for the cache update

[2022-08-26 21:40] MichalNemec opened #79 "Expose uploadedByUserId on storage"
Hello,

Could we have exposure for property `uploadedByUserId` on files table when we upload an image?
Or it could assign is by itself from JWT (hasura-auth)

Thank you!

[2022-08-27 00:02] totzk9 commented on #79
Hi, please refer to https://github.com/nhost/hasura-storage/issues/4 since Hasura is able to assign itself.

[2022-08-27 05:18] #79 closed

[2022-09-03 12:08] rafoolin commented on #71
@szilarddoro I'm sorry for late response, didn't notice it.

Yes I followed [these permissions](https://docs.nhost.io/platform/storage#permissions), but still have the same problem and can't upload images as an authenticated user. Tested this both with local and remote databases and both throw the same exception as discussed above.

[2022-09-03 22:35] vipafattal opened #80 "No method to get public file URL from Storage"
How to get a public URL if we want to download a file manually without using the functions `storage.downloadFile` or `storage.downloadImage`, Something like [getPublicUrl](https://docs.nhost.io/reference/javascript/storage/get-public-url) in the storage.

At the same time, I tried to use the `getPresignedUrl` from storage with Nhost running from CLI but I'm keep getting an error `ERR_CONNECTION_RE

[2022-09-04 05:40] marcusrohden commented on #80
I'm also with the same issue. I'm trying to get the url to use caching packages such as CachedNetworkImage. In case it is not possible, has anyone found any caching solution for image files? thank you

[2022-09-04 06:51] MaxSchilling commented on #80
👀 Following - will need the functionality as well!

[2022-09-04 14:06] vipafattal commented on #80
I managed to create `getPublicUrl` function and it's simple.

Looking for the javascript implement for [storage client](https://github.com/nhost/nhost/blob/6ea9ed69ce73b9e0c426d40f20ee42814b21d7cb/packages/hasura-storage-js/src/hasura-storage-client.ts):

[code]

As you can see from the code above, it's as simple as
[code]
 Please note to be able to access the file publicly (without being authed u

[2022-09-12 12:42] #80 closed

[2022-09-14 13:47] marcusrohden opened #82 "Connection closed before full header was received"
Hi guys,
I'm constantly receiving the following exception and logs after the app refreshes the token a couple times.

"Unhandled Exception: Connection closed before full header was received"
"[nhost] Exception during token refresh"
"Connection closed before full header was received".

After the exception occurs, it seems that the Token stop from being refreshed.

![Screen Shot 2022-09-14 at 11 31

[2022-10-03 15:46] MichalNemec opened #84 "Subscription stream error when init (restart is good)"
Hello,

I have subscription stream and whenever i init the app and the subscription is on homepage i get error. Whenever i do restart/R reload, its working as intended.

its about `gql_websocket_link`

[code]

does anybody know whats wrong?

my implementation, which is causing this issue is:
[code]

[2022-10-11 07:40] szilarddoro commented on #78
I'm closing this issue, because the cache is already configurable through `NhostGraphQLProvider`. Thanks again @MichalNemec! 🙌🏼

[2022-10-11 07:40] #78 closed

[2022-10-16 03:23] marcusrohden commented on #84
I'm having the same issue. It's the only subscription I have in the code running beside the auth token refresh built by nhost.

[2022-10-16 03:30] spakanati commented on #84
I've run into this bug completely separately from nhost: https://github.com/gql-dart/gql/issues/294. It looks like a fix has been merged (https://github.com/gql-dart/gql/pull/354) but I don't think it's in a release yet. You could probably override the dependency to use the git URL, though.

[2022-10-18 13:37] szilarddoro commented on #84
You're right @spakanati. The latest release of `gql-dart/gql` was on the 11th of August, so that fix is not released yet. I don't think there is too much we can do about this issue now 🙁

[2022-10-19 07:55] marcusrohden commented on #84
for a temporary workaround, you can override the dependency.

[code]

https://github.com/gql-dart/gql/issues/294#issuecomment-1025264312

I made a fork from agent3bood repo and have been using it for the whole day with no issues.

[2022-10-26 16:45] MichalNemec commented on #84
gql_websocket_link is now 0.3.4 which should include bugfix for this issue.
this can be updated now i believe.

[2022-10-27 08:16] spakanati opened #85 "JWTExpired errors after leaving the app open for a short while"
I'm seeing JWTExpired errors when leaving the app open for a bit, suggesting the token refresh is not working correctly. It's a dealbreaker right now in terms of being able to use nhost in production because after a fairly short amount of time the app breaks because all queries/mutations/subscriptions stop executing and you have to refresh the entire app.

Similar to #21 but the errors I'm seeing

[2022-10-31 15:13] MichalNemec commented on #85
Did you try simple implementation of this without any extra code?
i am leaving my app open when i.e. eating lunch and it never yelled at me, that the token expired.
After like 2 months of using it, i didnt have this problem once.

[2022-10-31 15:14] MichalNemec commented on #82
do you have local development of nhost? maybe you would see more information.

[2022-10-31 15:17] MichalNemec commented on #71
[code]

im using this implementation and permissions for user: insert(check) select(check) delete(check)

on local docker development, does minio say something?

[2022-11-02 03:39] #82 closed

[2022-11-09 05:07] marcusrohden opened #88 "StreamSubscriptions triggering all events on auth token refresh"
Hey guys,

I observed that when the service token changes (NHostClient addTokenChangedCallback is triggered), all my subscription streams attached to Hasura produce the same data again since the app started listening to them.

Is that the expected behaviour?

Would be a security breach to not refresh the token every minute but once every couple of hours as a way around? What's the drawback?

Any s

[2022-11-09 08:27] MaxSchilling commented on #88
Facing the same issue and thinking about ways to fix it... Currently it produces major problems. One solution could be to to work around streams and move from subscriptions to queries.. But thats a big pain..
Increasing the jwt token duration is a security no go for us. May be increased to 1,2,3 minutes, but not more and that won't help.

I am not expert enough to fully figure out if the sdk could

[2022-11-09 13:49] arqeco opened #89 "start_example_server: failed to apply migrations"
Hello,

I've got this error message while trying to run the example server on Ubuntu-20.04 in WSL2 (Windows 10):

[code]
If you wanna try WSL2 but is using other operanting system try this free MS Windows VM that comes with WSL2 pre-installed: https://developer.microsoft.com/en-us/windows/downloads/virtual-machines/
I am using real Windows 10 but I believe the same issue will arise on the VM.

[2022-11-09 18:38] arqeco commented on #89
I have tried it in Bodhi Linux 6.0.0 (Ubuntu-based) and got exactly the same error

[2022-11-20 09:54] bigzhu opened #91 "Need keep login status even when APP reopen"
When APP reopen, always need login, it's so silly.

[2022-11-22 04:20] marcusrohden commented on #91
You can easily do that by managing the auth status with the Nhost Auth callback to update your app state.

[code]

[2022-11-23 16:16] diegonc opened #92 "nhost success/failure URL settings"
Where should I configure the following URLs from the OAuth example?

    /// Success redirect URL: `nhost-example://oauth.login.success`.
    /// Failure redirect URL: `nhost-example://oauth.login.failure`

On GitHub I filled the following form:

![image](https://user-images.githubusercontent.com/261458/203593322-6d76e696-84bc-420a-bd5a-0931861749fd.png)

there's only one URL to set (the Homepage

[2022-11-23 16:56] diegonc commented on #92
Also the nhost's OAuth URL now seems to be:

    /// Fill in this value with the backend URL found on your Nhost project page.
    const nhostGithubSignInUrl = '$nhostUrl/v1/auth/signin/provider/github';

instead of

    /// Fill in this value with the backend URL found on your Nhost project page.
    const nhostGithubSignInUrl = '$nhostUrl/v1/auth/providers/github/';

[2022-11-24 00:37] tyrone-horizonlabs commented on #92
shouldn't this be raised to https://github.com/nhost/nhost/issues instead in this repository?

[2022-11-28 15:21] diegonc opened #93 "oauth_providers_example.dart: example needs to be updated"
The example's comments give wrong instructions regarding the configuration of NHost's OAuth callbacks:

At line [10](https://github.com/nhost/nhost-dart/blob/main/packages/nhost_flutter_auth/example/lib/oauth_providers_example.dart#L10) it reads:

[code]

wheareas only one callback URL can be set on GitHub settings and no URL can be set on NHost's GitHub provider configuration.

Also at line [23](

[2022-11-29 00:15] marcusrohden commented on #88
Hi guys, any updates on this issue?

Thank you

[2022-11-29 15:43] diegonc commented on #93
There also seems to be a mismatch between the expected query parameter name (`refresh_token`) and the actual parameter name used by NHost callback (`refreshToken`)

![image](https://user-images.githubusercontent.com/261458/204574871-39c8611f-7ec9-4e5c-b43a-c995bf06aa91.png)